*{ padding:0; margin:0;  font-family:'微软雅黑';}
<!--清除浏览器默认样式，浏览器默认字体大小为16px。-->
    body,ul,ol,dl{ padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:12px;}
li{ list-style:none;}
a{ text-decoration:none; color:#000;}
em,i{ font-style:normal;}
b,strong{ font-weight:normal;}
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{ zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
img{ display:block;}
.w{margin:0 auto;}
@charset "utf-8";